@charset "utf-8";

/*****  
a_mask.css 
Version: fl20150606-cs
Author: Feilong
Author URI: http://feilong.org
*****/



/** below is mask must css css**/ 
.mask{width:100%;height:100%;text-align:center;
position:fixed;left:0;top:0;z-index:800;}/*must*/

.maskin{width:94%;text-align:left;/*overflow:hidden;如果有外关闭则需注释掉此溢出隐藏*/
position:relative; z-index:801}
.maskios{overflow:scroll !important;-webkit-overflow-scrolling: touch !important;}


.maskifr{display:block;width:100%;height:100%;
border:0 none;vertical-align:top;}
.ifrpre{display:none;}

.maskbg{width:100%;height:inherit;
position:absolute;left:0;top:0; z-index:800}
.maskshut{width:26px;height:26px;line-height:26px;
color:#fff;text-align:center;text-decoration:none;cursor:pointer;
position:absolute;top:0;right:0;z-index:888;}

.pophtml{height:100%; overflow: auto;}
.popbody{height:100%; overflow: visible;}
.popwrap{height:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.popmod{max-width:100%;height:auto;min-height:200px;overflow-y:visible;}

.popshut{width:26px;height:26px;line-height:26px;
color:#fff;text-align:center;text-decoration:none;cursor:pointer;
background-color:#099;
position:absolute;right:0;top:50%;margin-top:-13px; z-index:888;}/*must*/
	
	
/* css3 effect half must */
.maskifr{transition:all 0.2s ease 0s;
-moz-transition:all 0.2s ease 0s;
-webkit-transition:all 0.2s ease 0s; 
-o-transition:all 0.2s ease 0s;
}
.maskbg{transition:all 0.3s ease 0s;
-moz-transition:all 0.3s ease 0s; /* Firefox 4 */
-webkit-transition:all 0.3s ease 0s; /* Safari and Chrome */
-o-transition:all 0.3s ease 0s; /* Opera */
background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;}
.vh .maskbg{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}

.maskin{border-radius:3px;/*overflow:hidden; ios bug */}



/*how to reset mask element? half must */
#flmask1 .maskshut{display:none;}
#flmask1 .maskin{width:90%;}/*how to rewidth maskin */

#flmask2 .maskshut{display:none;}

#flmask3 .maskshut{top:-10px;right:-10px;background-color:#fff;border-radius:50%;}
/*how to reposition or reshap maskshut */

#flmask4 .maskshut{display:none;}




/*fl-20150610-gz*/
